[2013-04-27 18:52] josephwright opened #1 "biblatex-ieee inserts empty "presented at the""
[Reported by [mburger](https://bitbucket.org/mburger)]

If an entry in the bibliography file does not provide the `eventtitle` data entry, `biblatex-ieee` will produce a meaningless "presented at the" information. For instance:

See [24] in http://ftp.scharrer-online.de/pub/tex-archive/macros/latex/contrib/biblatex-contrib/biblatex-ieee/biblatex-ieee.pdf.

[2013-04-27 18:54] #1 closed, assigned to josephwright

[2013-04-27 18:57] josephwright opened #2 "Repeated author names should be replaced by a dash"
As subject!

[2013-04-27 18:57] #2 closed, assigned to josephwright

[2013-04-27 19:05] josephwright opened #3 "Would be useful to mention to set sorting = none in documentation"
I'm led to believe that the references in an IEEE paper should be numbered in order of appearance. By default `biblatex` appears to order your bibliography in `nty` format (Name, Title, Year). For the expected IEEE results you need to set sorting to `none`.

E.g:

[code]

I thought it might be useful to mention this in the documentation as it tripped me up at first!

[2013-04-27 19:05] #3 closed, assigned to josephwright

[2013-04-27 19:09] josephwright opened #4 "Provide the option for abbreviated titles"
[Reported by [sappjw](https://bitbucket.org/sappjw)]

It would be nice to be able to select the field to use for an abbreviated title of a journal on load of the module. I'd like to keep the whole name and abbreviated name in the same reference. I'm not sure what the right field is for this would be, but I'm using the `shorttitle` field in a conference proceedings reference as an example. I've hac

[2013-04-27 19:10] #4 closed, assigned to josephwright

[2013-04-27 19:11] josephwright opened #5 "et al. should be italicized"
[Reported by [MobiusPizza](https://bitbucket.org/MobiusPizza)]

I noticed that et al. is not printed in italic with `biblatex-ieee`. In IEEE reference guide: www.ieee.org/documents/ieeecitationref.pdf et al is italicized. I was informed this is a style issue not a `biblatex` issue.

Workaround at the moment with the following at the permeable: %Italicise et al.

[code]

[2013-04-27 19:11] #5 closed, assigned to josephwright

[2013-04-27 19:12] josephwright opened #6 "Preserve title case"
[Reported by [pinkplus](https://bitbucket.org/pinkplus)]

I find when this package is generating bibliography, it always converts the title to title case. When the title contains chemical formulas like GaAlAs, and abbreviations like WDM, the package will output gaalas and wdm, which does not agree to what IEEE articles actually do.

[2013-04-27 19:13] #6 closed, assigned to josephwright

[2013-04-27 19:14] josephwright opened #7 "Intention in references starting with bibitem 10"
Using IEEEtran 1.7a and your ieee style, downloaded from here, starting with bibitem 10, the items are intended, as can been see on the screenshot: http://imgur.com/raFMj

[2013-04-27 19:14] #7 closed, assigned to josephwright

[2013-04-27 19:15] josephwright opened #8 "et al. is not printed if there are more than 3 authors"
Can this be done somehow?

[2013-04-27 19:20] josephwright opened #9 "Column equalisation?"
[Reported by [Olivier Mehani](https://bitbucket.org/shtrom)]

Not sure whether this is a missing or undocumented feature, but last-page column equalisation doesn't seem to work when using `\IEEEtraggeratref{}`. `Biblatex` itself doesn't seem to do it, and no documentation in `biblatex-ieee` explain how to fix this.

Am I just doing something wrong, or is this unsupported?

[2013-04-27 19:21] #9 closed, assigned to josephwright

[2013-04-27 19:21] #8 closed, assigned to josephwright

[2013-04-27 19:22] josephwright opened #10 "Missing pp. compared to bibtex-ieee.bst"
[Reported by [alexzeh](https://bitbucket.org/alexzeh)]

One difference is that with the "old" `ieee.bst` a pp. is set before the pages of articles and proceedings which does not appear when using `biblatex` and `biblatex-ieee` (v.1.1f).

[2013-04-27 19:23] #10 closed, assigned to josephwright

[2013-04-27 19:24] josephwright opened #11 "Optional Argument for \cite"
[Reported by [alexzeh](https://bitbucket.org/alexzeh)]

Here the example

[code]

The optional argument (here Theorem 1) should be within the brackets (as for the old `ieee.bst` and numeric-comp).

[2013-04-27 19:25] #11 closed, assigned to josephwright

[2013-04-27 19:27] josephwright opened #12 "Bibliography macro 'related' undefined"
[Reported by [Joe Reinhardt](https://bitbucket.org/jmrbitbucket)]

I am getting this error from `biblatex`, even when trying to test with your file `biblatex-ieee.tex`.

[2013-04-27 19:27] #12 closed, assigned to josephwright

[2013-06-18 15:34] josephwright opened #13 "\cites does not correctly bracket material"
As discussed in [Disable parenthesis in ieee style biblatex](http://tex.stackexchange.com/q/118991/73), the `\cites` command (and possible other 'plural' ones) does not currently have the correct bracketing level.

[2013-06-18 15:40] #13 closed, assigned to josephwright

[2013-07-03 04:17] aboruvka opened #14 "Compatibility with biblatex 2.7"
Hi Joseph. I've changed `\textcite` and friends in all the standard styles so that they incorporate the `and` string before the last non-compact citation label.

For `numeric-comp` this meant changing the code for bracket placement. In `ieee.cbx` your revisions to the `cite:comp`, `cite:dump`, etc. macros appear adequate for IEEE-style labels; redefinitions to the `textcite` macro and `\texcite` c

[2013-10-15 12:52] alick opened #15 "Incorrect citation output with multi-part pages"
It seems the `biblatex-ieee` style does not work incorrectly with multi-part pages field, while the standard `numeric-comp` works fine.

Examples:

[code]

With `biblatex-ieee`, we get citation with `pp. 379–423, 523656–`. It should be `pp. 379–423, 523–656` IMO.

[2013-10-23 17:05] jfdm opened #16 "Undefined control sequence."
When running BibLaTeX and the IEEE style, my document fails to finish typesetting completely. This used to work with versions of BibLaTeX and BibLaTeX IEEE under TexLive 2012. The error message is:

[code]

My Setup is:
- Tex Live 2013
- Biber v1.7
- BibLaTeX v2.7a (2013-07-14)
- BibLaTeX-IEEE v1.1i (2013-06-13)

A _MWE_ LaTeX file is:

[code]

A BibTeX file is:

[code]

[2013-10-25 21:14] #16 closed, assigned to nobody

[2013-10-25 21:14] #14 closed, assigned to josephwright

[2013-10-25 21:41] #15 closed, assigned to josephwright

[2015-03-12 08:33] alick9188 opened #17 "IEEEtran uses captical letter for the word after colon in title field"
IEEEtran.bst uses capital letter for the word after colon in the title field. However, with current biblatex-ieee, the word is in small case. E.g.:

[code]

[2015-03-12 10:36] #17 closed

[2015-03-12 11:18] alick9188 commented on #17
Thanks for the quick fix!

[2015-03-19 10:32] MartinABCD opened #18 "Protection of capital letters for whole title"
Since the last update (v1.1k) of the `biblatex-ieee` package the protection of capital letters for the whole title doesn't work any more. I am using `misc` as entry type and I want to keep the whole title as it is by using `{{Title...}}`.
[code]
I figured out that v1.1k introduced the command `\bbx@colon@search` to capitalise after colon in titles.  Without this new command everything works fine f

[2015-03-25 09:10] #18 closed

[2015-11-20 09:11] 0xdf opened #19 "Protection for capital letters ignored in some cases"
Hi,

I am having the problem, that protection for capital letters is ignored in some cases. E.g. in the record

    title = {{PUCA}: A pseudonym scheme with strong privacy guarantees for vehicular ad-hoc networks},

is rendered as

    “Puca: A pseudonym scheme with strong privacy guarantees for vehicular ad-hoc networks”,

I am using the biblatex-ieee style with the following command

    \usepac

[2015-11-20 09:15] 0xdf commented on #19
Nevermind, this seems to be fixed in the latest version according to the changelog.

[2015-11-20 09:15] #19 closed

[2015-11-20 09:25] josephwright commented on #19
Dupe of https://github.com/josephwright/biblatex-ieee/issues/18

[2016-03-18 13:49] jokogr opened #20 "Need the comma after the quoted title in Greek"
Hello,

I am using biblatex-ieee for writing my thesis in Greek and have references appearing like this

[code]

I have the impression that in Greek it is more preferred to have the comma after the quotes, e.g., `«Dynamic Storage Allocation: A Survey and Critical Review»,`. Is it possible to do so?

[2016-03-18 13:57] josephwright commented on #20
The position of punctuation here is a 'locale typographic tradition' thing rather than one related to language _per se_. It's also not hard-coded into the style: `csquotes` is used for quoting and as-standard follows typical US typography. Using
[code]
should alter the outcome and give you what you are after.

[2016-03-18 14:10] jokogr commented on #20
Many thanks for the prompt reply!

I have already been using *polyglossia* and *csquotes* and this is probably why the quotation marks are `«` and `»`. I will post an issue at the *csquotes* repository, then.

[2016-03-18 14:10] #20 closed

[2016-03-28 21:54] koppor opened #23 "Conditionally disable compression of cites"
The [IEEETran](https://www.ctan.org/pkg/ieeetran) package documentation states follows:

[code]

On [tex.sx](http://tex.stackexchange.com/a/61526/9075) I read, that the "style includes code for the compression".

For instance, when inputting following

[code]

the output is as follows:

[code]

First, I thought, I would expect

[code]

or even

[code]

The output from the tex.sx example is

[code]

[2016-03-29 08:20] josephwright commented on #23
The compression is a bit complex (in the core styles this is covered by separate `numeric` and `numeric-comp` citations styles), so an option might not work. It's certainly doable to turn it off: the question is whether you also want the square brackets around each number or whether you can just use
[code]
(this will be sorted but not compressed but won't add brackets around each number).

[2016-04-06 12:47] josephwright commented on #23
I've had a look at this, and I'm pretty sure I've got a solution that doesn't need additional files but only a few tweaks in relevant document preambles
[code]
If that sounds OK I'll update the documentation: I'm also going to use this simplified approach for the main settings (the current version is rather complex for what I now suspect is no good reason!).

[2016-04-06 20:38] josephwright commented on #23
There's one thing I'm not clear on here (which affects how best to fix it): how the output of the last citation (`\cite{kowalik,loh,almendro}`) should look. Single numbers presumably run into text, but multiple numbers without compression will look rather odd unless separated by commas (at least to me). I'm of course happy to do the latter if it's what's required, but want to be sure (I've been do

[2016-05-02 18:38] tfechner opened #24 "Capitalization Issue for title={{Some title}} for book entires"
Hi,

I've stumbled across an odd behavior in the latest version of biblatex-ieee (v1.1m).
After compiling with biber and biblatex-ieee book titles are all capitalized for book entries, but only if the title is enclosed in two curly brackets.

The easiest way to recreate it is to change one of the given examples in [biblatex-ieee.bib](https://github.com/josephwright/biblatex-ieee/blob/master/biblat

[2016-05-08 08:29] josephwright commented on #24
This is all 'works for me': I'll need a full MWE and a `.log` file.

[2016-05-08 09:02] tfechner commented on #24
Sure, I hope you don't mind that I have butchered your documentation of the package fo the MWE.

MWE of biblatex-ieee.tex
[code]

MWE for biblatex-ieee.bib with a couple of different types for demonstration
[code]
This is the result the MWE.
![image](https://cloud.githubusercontent.com/assets/1140542/15096917/c96ccbfa-150b-11e6-888a-e6f6388c8332.png)

The .log is in the attachment as are the files

[2016-05-08 20:58] josephwright commented on #24
I think I've tracked this down: I'll update the release with a fix.

[2016-05-21 14:26] tfechner commented on #24
Thanks - that has fixed the issue!

[2016-05-21 14:26] #24 closed

[2016-06-25 17:22] evilynux opened #25 "Mixedcase journal and conference names no longer respected in English only?"
I noticed a new behavior with the latest biblatex-ieee update in TeX Live (biblatex-ieee 1.1n).

It used to be that journal and conference names (and maybe others) were just capped AS IS from the bib file. Effectively matching the behavior of the bibtex style files.

With the new behavior, in english only it seems, only the first letter and protected caps with braces appear as caps. As far as I am

[2016-06-27 09:00] #25 closed

[2016-06-27 14:19] evilynux commented on #25
Works like a charm. Thanks for taking action so quickly!

[2016-07-20 12:16] sappjw opened #26 "Link to Style Manual is broken"
The link to the style manual in the documentation is broken.  I believe the intent is to link to [https://www.ieee.org/documents/ieeecitationref.pdf](https://www.ieee.org/documents/ieeecitationref.pdf) or possibly [https://www.ieee.org/documents/style_manual.pdf](https://www.ieee.org/documents/style_manual.pdf).

[2016-07-20 12:21] sappjw opened #27 "Compressed reference bracket format does not match Style Manual"
On page 34 of the [IEEE Editorial Style Manual](https://www.ieee.org/documents/style_manual.pdf), it shows examples of compressed references as `[1]--[5]`, but this package seems to default to `[1--5]`.  It might be best to format compressed references as indicated in these examples.

[2016-07-20 13:07] #26 closed

[2016-07-20 13:14] josephwright commented on #27
There was a bug here, but not as you describe: I'd managed to kill the compression entirely! I've fixed that in v1.1p: can you test that and post an example if it fails.

[2016-07-21 19:54] sappjw commented on #27
v1.1p seems to resolve this issue.  Thanks!

[2016-07-21 19:54] #27 closed

[2016-08-02 05:01] mykelk opened #28 "Book titles seem to be inconsistent with style guide"
Compare reference [2] here:
http://mirrors.ctan.org/macros/latex/contrib/biblatex-contrib/biblatex-ieee/biblatex-ieee.pdf
with reference [1] of the book examples:
https://www.ieee.org/documents/ieeecitationref.pdf

Am I missing something?

[2016-08-30 15:53] languitar opened #29 "Better defaults for biburl*penalties"
With the narrow columns in the IEEE layout, longer URLs in the bibliography are usually rendered with very wide space. Maybe it would be possible to provide better defaults for the various biburl*penalty counters for use with this package?

[2016-10-02 13:07] koppor commented on #2
Is it possible to have this configurable? `IEEEtran.bst` reads as follows:

[code]

I am aware that this configuration option is not propagated to the user, but IMHO it should. Most persons are unused to the dash thing and just want to use the IEEE style for other cases (refs https://github.com/josephwright/biblatex-ieee/pull/22#issuecomment-206542227).

[2016-10-02 13:09] josephwright commented on #2
@koppor You just have to alter the defintiion of `\bibnamedash` as in the standard styles

[2016-11-15 13:19] millo-k opened #30 "dashed option missing"
Please provide the dashed option to deactivate the dash for recurring authors and editors.

[2016-11-15 14:06] josephwright commented on #30
The IEEE styles (as used by the IEEE) are numeric so omitting authors doesn't make a lot of sense. Yes, one can mix-and-match with `biblatex` but I'm reluctant to go this way (styles following a particular publisher should take a strong lead from the relevant body).

[2016-11-24 21:51] malaverdiere opened #31 "Divergent style for IEEE Computer Society"
I am using `biblatex-ieee` for an IEEE CS conference, and I observed some discrepancies between the [IEEE citation style guide](http://www.ieee.org/documents/ieeecitationref.pdf) and the [IEEE Computer Society 2015 style guide](https://www.computer.org/cms/Computer.org/Publications/docs/2015CSStyleGuide.pdf) pp.32-37.

Here is some of the differences I spotted:

- IEEE CS never show the location o

[2016-11-24 21:56] malaverdiere commented on #28
The basic format is:
`J. K. Author, “Title of chapter in the book,” in  Title of His Published Book, x th ed. City of Publisher, Country if not USA: Abbrev. of Publisher, year, ch. x , sec. x , pp. xxx–xxx. `
However, many of those fields are optional.
The citation you gave is:
`B. K. Bul, Theory principles and design of magnetic circuits. Energia Press, 1964, p. 464, (in Russian).`
So that looks

[2016-11-25 07:04] josephwright commented on #28
There's a typo in the `.bib` file for the entry for Bul: I'll fix that. If you look at the example for Candy, for example, it looks OK.

[2016-11-25 16:51] mykelk commented on #28
I think the issue is the capitalization of the book. The IEEE style has book titles as titlecase (and chapter titles sentence case), whereas it looks like biblatex-ieee has both as sentence case. The title case in the IEEE spec is indicated by "Title of His Published Book" (first letter in each word is caps).

[2016-11-26 21:07] josephwright commented on #28
I'm thinking about this!

[2016-12-17 14:31] josephwright opened #32 "Accented letters are not protected from case change in titles"
From [TeX-sx](http://tex.stackexchange.com/questions/344456/capitalization-of-umlauts-using-biblatex-style-ieee-alphabetic):
[code]

[2016-12-17 14:39] josephwright commented on #32
Ah, 'it's not my fault'! The above gives `.bbl` file
[code]
% $ biblatex auxiliary file $
% $ biblatex bbl format version 2.8 $
% Do not modify the above lines!
%
% This is an auxiliary file used by the 'biblatex' package.
% This file may safely be deleted. It will be recreated as
% required.
%
\begingroup
\makeatletter
\@ifundefined{ver@biblatex.sty}
  {\@latex@error
     {Missing 'biblatex' pack

[2016-12-17 17:43] u-fischer commented on #32
Imho it would be better if the style would use ` \MakeSentenceCase*`  to allow to suppress the case change by language/langid. But the one would need to redefine \bbx@colon@search. Currently one gets an unwanted star:

[code]

[2016-12-17 17:44] plk commented on #32
Yes, I already had to do this for the APA style:

[code]

[2016-12-17 19:26] plk commented on #32
The biber recoding issue should be fixed in 2.8 DEV.

[2016-12-26 20:38] josephwright commented on #30
I've thought about this: the current behaviour matches the 'parent' styles from the `biblatex` core, and I'm not minded to change.

[2016-12-26 20:42] #30 closed

[2016-12-26 20:45] josephwright commented on #29
The standard values from `biblatex` make sense for a typical one column document, and that's true for the IEEE styles as well as others. There's no link between the bibliography style and a decision to use a two-column format: as such, this isn't the 'right' place to address this.

[2016-12-26 20:45] #29 closed

[2016-12-29 09:28] #32 closed

[2016-12-29 09:29] josephwright commented on #32
I've switched to `\MakeSentencecase*` here, but I'll log an issue in the `biblatex` core to remind me to look at the behaviour of `\MakeSentencecase` itself.

[2017-01-04 00:22] nonkreon opened #33 "ISSN fields for journal articles."
Dear Mr. Wright,
Allow me to thank for your efforts on this package first. I see that the package prints the ISSN fields for journal articles, which is not to be done as directed by IEEE.
Thanks a lot!

[2017-01-04 07:23] josephwright commented on #33
This should be governed by the `isbn` option as for standard `biblatex` styles: can you provide a MWE?

[2017-01-05 15:43] udopt opened #34 "Unwanted linebreak after bibstring and before field"
In [ieee.bbx](https://github.com/josephwright/biblatex-ieee/blob/a76e6a2ed72c8c663e72f1848d9d08a738593218/ieee.bbx#L360), `\addspace` is used to separate the bibstring `number` and the field `number`. The same is true for the [volume](https://github.com/josephwright/biblatex-ieee/blob/a76e6a2ed72c8c663e72f1848d9d08a738593218/ieee.bbx#L352) and maybe other fields as well.

This can lead to unwanted

[2017-01-05 15:55] josephwright commented on #34
Probably the formatting should be applied at the `\DeclareFieldFormat` stage in any case, with the bibmacro just putting in the correct fields with no hard-coded formatting. I'll adjust.

[2017-01-17 22:36] chrmatt opened #35 "Warning: Field 'prefixnumber' deprecated. Please use 'labelprefix' instead."
Compiling a document with \usepackage[style=ieee-alphabetic,backend=biber]{biblatex} causes the warning "Field 'prefixnumber' deprecated. Please use 'labelprefix' instead."

[2017-01-22 07:54] mykelk commented on #28
Are you sure this is resolved? The book title capitalization doesn't seem to work properly for me. Here is my log indicating the version:
[code]

[2017-01-22 18:00] josephwright commented on #28
@mykelk Can you post an example showing the issue you are seeing? My tests looked OK so perhaps I'm missing something.

[2017-01-22 18:07] mykelk commented on #28
Yep. Here is a minimal example:
[test.zip](https://github.com/josephwright/biblatex-ieee/files/722138/test.zip)
It looks like this:
![image](https://cloud.githubusercontent.com/assets/6294079/22184634/9f1fc992-e08a-11e6-8f4c-fb817dc4db5a.png)

[2017-01-22 18:11] josephwright commented on #28
Running the example in:
[code]

[2017-02-02 17:32] 7Z0t99 opened #36 "doi wrongly printed capitalized"
Hi, I'm running TeXlive 2016 on Windows with biblatex-ieee 1.2 (texlive rev 42818).
When I add the doi field to one of my references, it prints as DOI: [DOI number], but when I look into the IEEE citation reference, it says that it should be doi: [DOI number]. Please note the uppercase vs. lowercase.
Is an easy fix / workaround possible?

Thank you very much!

[2017-02-02 18:09] josephwright commented on #36
I've checked the citation reference doc and it doesn't seem to be self-consistent: they refer to DOIs but then suggest 'doi' for formatting! Do you have any 'in the wild' examples you can point to? (In the end I favour going with practice in set journals over style guides.)

[2017-02-02 18:38] 7Z0t99 commented on #36
No, I have never seen that in an IEEE journal. I want to cite an early access journal article of another publisher (Wiley) and they suggest adding the doi in this case. I know that there is to appear and to be published, but that doesn't apply here since the article is already published - albeit only online.
When you export the citation for an IEEE early access article, it will typically say vol.

[2017-02-02 22:23] #35 closed

[2017-02-02 22:24] josephwright commented on #36
You likely want something of the form
[code]
(used in the `nature` style). I'm reluctant to change the distributed code here unless it is clear that the IEEE actually do what they say they do!

[2017-02-03 10:26] 7Z0t99 commented on #36
Thank you very much. I still added a space after the colon and removed the period at the end, but now it works

[2017-02-18 05:07] mykelk commented on #28
If we could just use the same kind of capitalization scheme as journal article titles, I think we'd be set.

[2017-03-01 21:02] josephwright commented on #36
For the present closing as it's not clear I can make a change here!

[2017-03-01 21:02] #36 closed

[2017-03-01 21:21] josephwright commented on #34
Fixed I hope by https://github.com/josephwright/biblatex-ieee/commit/6db5cd40886a59d9e23e2ed8b912eb177bbbf9a0

[2017-03-01 21:21] #34 closed

[2017-03-02 07:15] #28 closed

[2017-08-06 17:31] afcuttin opened #37 "smaller font size must be used for the reference list"
If I use this style with BibLaTeX, the _references_ section is typeset using the same font size as the normal text (font size 10).
Instead,  a smaller font size must be used (font size 8), as in the IEEEtran.bst file provided with the IEEEtran class.

The recommended font sizes are given here: http://paginas.fe.up.pt/~jca/wrsc/templates/IEEE-Conference-A4-format.pdf

[2017-08-06 17:32] josephwright commented on #37
All true, but that's a feature of the _document class_ not the _bibliography style_.

[2017-08-06 17:35] afcuttin commented on #37
So you think that the font size must be set separately?

[2017-08-06 17:36] josephwright commented on #37
@afcuttin It's not part of the _bibliography style_ (which is things like the ordering and formatting of fields), so 'yes'. You can use the IEEE bibliography style for lots of things: in a thesis for example the document will be one column and have larger text than in a paper ...

[2017-08-06 17:39] afcuttin commented on #37
I see and I may agree, nevertheless, if I switch to bibtex, the references section is formatted properly

[2017-09-13 23:04] jirisys opened #38 "No support for nodate with @Online"
Hello. I am trying to make my @Online items have the biblatex n.d. string in the bibliography, but the end result is a set of closed parenthesis where the date (or nodate literal) should be.

Thank you for your help!

[2017-09-23 22:31] jirisys commented on #38
Found a very rudimentary workaround. I could not manage to use the nodate literal in BibLaTeX, but I was able to spot why the online bibliography entry wrote () when a date was not assigned. I re-defined the online bibliography driver to include a check if the year field is undefined. Since the original literal would not make this check, it would print the parentheses even if the date was not defi

[2017-09-24 12:46] 7Z0t99 opened #39 "header set when references span pagebreak"
Usually using biblatex-ieee together with IEEEtran in journal mode works fine, but sometimes my references start on one page and continue on the next. In this case, "REFERENCES" appears in the page header, which I consider a bug.

Can this be fixed in biblatex-ieee or does IEEEtran need a modification?

[2017-10-09 19:10] 7Z0t99 commented on #39
Here is an example tex file to reproduce. Unfortunately Github doesn't allow me to upload a bib or tex file, so I zipped them.
[example.zip](https://github.com/josephwright/biblatex-ieee/files/1369580/example.zip)

[2018-01-27 20:34] 7Z0t99 commented on #36
@josephwright I recently ran into the first IEEE paper I saw using dois: [https://doi.org/10.1109/TCSII.2017.2764460]
However I find it strange that reference 13 has got both, a doi and a url

[2018-01-29 15:55] niklasdoose commented on #30
The commit seems to only add the dashed option to the `ieee` style and not to the `ieee-alphabetic` style. Is there a reason for this/could you add the option to the `ieee-alphabetic` style?

[2018-04-27 08:45] mpolitze opened #41 "Error using quotation marks in title when using ngerman babel option"
When using the ngerman option of babel, biblatex-ieee fails to compile bibliographies that display quotation marks (\textquotedbl). It works fine when using the numric style though.

This likely has to do with babel using `"` to produce umlauts like `"a` is rendered as `ä`. It works fine using the `numeric `or `authoryear ` styles.

Please also see the following example demonstrating the issue:
[c

[2018-08-18 00:42] MdAyquassar opened #42 "Capitalization protection fails again :-("
Consider the following input.

File q.tex:

[code]

File q.bib:
[code]
And here is the output:
![q](https://user-images.githubusercontent.com/42279179/44293840-74e52f00-a28f-11e8-9c2b-f7f4841e4c95.jpg)

I expect to see "C", "I", and "Karp-Miller" instead of the lower-case versions. In the log I see

The used biber version is 2.9.
Any bugfix?
Thank you in advance.

[2018-08-19 19:44] josephwright commented on #42
I get the expected output with current release `biblatex` and IEEE style, with `biblatex` v3.10 and with an earlier version. Are your sure your input example gave that problematic output? If so, please can you attach your full `.log` and `.blg`, or mail them to me (usual email address).

[2018-08-20 11:54] MdAyquassar commented on #42
Pretty sure. The bug occurs on an up-to-date ubuntu bionic. On Debian stable (with biblatex v3.7, ieee.bbx vvv1.2, biber 2.7), the bug does not occur. I'll send the logs as soon as I get to the machine in question again.

[2018-08-20 12:00] josephwright commented on #42
For me, I get file log
[code]
and get the attached output.
[test.pdf](https://github.com/josephwright/biblatex-ieee/files/2302251/test.pdf)

[2018-08-20 12:18] josephwright commented on #42
Just to add my `.blg` states
[code]
and that I used the example files exactly as given in the question.

[2018-08-20 15:32] MdAyquassar commented on #42
I've sent the .log and .blg files (on the machine in question) via e-mail. Here is the result of \listfiles:

[code]

[2018-08-20 15:37] josephwright commented on #42
I notice you have Biber 2.9 but `biblatex` 3.10: the compatibly matrix suggests you need Biber 2.10 for that `biblatex` version. I can't see any differences at the macro level in terms of your files compared to mine, when I run the demo on TeX Live 2017. Setting up a different Biber version will be tricky: can you send me your `.bbl` file?

[2018-08-20 15:41] #37 closed

[2018-08-20 15:44] MdAyquassar commented on #42
Indeed, I see the compatibility matrix entry now. No idea why it was packaged by the ubuntu folks differently. Here is the contents of q.bbl:

[code]

[2018-08-20 15:45] josephwright commented on #39
The style does nothing 'special' in terms of headings: this is all handled by standard LaTeX constructs. At the same time, the demo doesn't show the issue for me. As such, this doesn't look valid.

[2018-08-20 15:45] #39 closed

[2018-08-20 15:47] josephwright commented on #42
This shows the issue: the braces have been stripped from the `.bbl` before the data gets to `biblatex` at all. As such, this is (or was) a Biber issue, not one in the `ieee` style.

[2018-08-20 15:47] #42 closed

[2018-08-20 15:48] MdAyquassar commented on #42
I see; thanks for looking into this. So, your advice: update biber?

[2018-08-20 15:50] josephwright commented on #42
@MdAyquassar  Yes, or use BibTeX: I don't think the latter shows the issue (but is of course more limited in other ways).

[2018-08-20 15:52] MdAyquassar commented on #42
Thanks again!!!

[2018-08-21 07:08] josephwright commented on #41
I've taken a look at this. The problem is that the `ieee` style needs to apply sentence casing to the title. I'm tracking down why, but for some reason the title is being passed as
[code]
not as
[code]
and it's that which causes the problem.

[2018-10-19 07:11] josephwright commented on #33
No further update: closing.

[2018-10-19 07:11] #33 closed

[2018-10-19 07:13] josephwright commented on #41
This is a `biblatex` core issue ... I'll have to take up there.

[2018-10-19 07:13] #41 closed

[2019-04-04 15:42] BartLH opened #45 "Wrong format thesis"
The formatting for theses and dissertations is not in line with the IEEE style manual (http://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE_Style_Manual.pdf).

The manual uses 'M.S. thesis' and 'Ph.D. dissertation'. However, biblatex-ieee uses 'Master's thesis' and 'PhD thesis'. It is possible to change it using a custom text in the `type` field, but maybe the default should be changed.

MWE:

[2019-04-05 09:18] BartLH commented on #26
These documents have moved again. The new locations are http://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE_Style_Manual.pdf and https://ieee-dataport.org/sites/default/files/analysis/27/IEEE%20Citation%20Guidelines.pdf. The first is probably the preferred source to put in the package documentation.

[2019-05-08 06:38] moewew commented on #45
A suggested fix is at https://github.com/josephwright/biblatex-ieee/pull/46. It might be debatable to use `M.S. thesis` which (at least in my head is 'Master of Science') instead of the more general 'master' or 'master's', but I guess `biblatex-ieee` bibliographies are overwhelmingly likely to cite science theses.

[2019-06-19 15:56] NiklasKroeger opened #47 "Incorrect minimum dependency version for biblatex if CTAN version is used"
So I was using the current version of biblatex-ieee from CTAN which is as of today [1.3c](https://ctan.org/tex-archive/macros/latex/contrib/biblatex-contrib/biblatex-ieee). In this version the biblatex localisation macro [`\DeclareLanguageMappingSuffix{}` is used](https://github.com/josephwright/biblatex-ieee/blob/v1.3/ieee.bbx#L33). This macro however was only [introduced to biblatex in version 3

[2019-06-19 19:09] NiklasKroeger commented on #47
With the merge I guess the README is up to date with the CTAN version of the package... So I guess this issue could be closed... I will leave that decision up to you....

[2019-07-25 10:44] muelli opened #49 "provide example of how to produce a correct IEEE document (font size for reference list)"
Given that https://github.com/josephwright/biblatex-ieee/issues/37 is marked as "wontfix" I am left wondering how to produce a document with the IEEEtran class (in conference mode) that adheres to the IEEE style.

I expected to simply use the ieee style for biblatex and be done with it, but that is obviously not the case as the bibliography is typeset with a 9 or 10 point font rather than a smalle

[2019-07-25 11:06] josephwright commented on #49
For conference submission you _have_ to use their class if available, which means using classical BibTeX not `biblatex`.

[2019-09-19 11:28] krishnakumarg1984 opened #50 "There should be no trailing dot (period) after URL typesetting"
As the subject says, in their bibliographies, IEEE does not use trailing dot (period) after URLs

As per IEEEtran's [reference manual](http://mirror.ox.ac.uk/sites/ctan.org/macros/latex/contrib/IEEEtran/bibtex/IEEEtran_bst_HOWTO.pdf)

The `biblatex-ieee` package differs from this behaviour. Can we please fix this?

[2019-09-21 17:32] #45 closed

[2019-09-21 20:23] #47 closed

[2019-09-21 20:24] #49 closed

[2020-02-11 20:56] moewew opened #51 "Upcoming changes to numeric-comp for subentrycomp"
Since plk/biblatex#900 changed some bits and pieces of `numeric-comp.cbx` `ieee.cbx` will need to be updated for the next `biblatex` version.

The modifications from the following MWE should hopefully do what `ieee.cbx` currently does
[code]

If I don't forget about it, I may open a pull request to be merged when `biblatex` is updated.

[2020-02-12 07:11] moewew commented on #51
What is the IEEE's stance on set citations? Are they cited as

or

or

what about ranges?

[2020-02-12 07:13] josephwright commented on #51
Each number is in brackets, so `[1a],[1b]` and `[1a]-[1c]`

[2020-02-12 07:50] moewew commented on #51
With the help of https://github.com/plk/biblatex/commit/fa6b52e9a384d33b24513d97889ca638eb204ce1 I'll hopefully have something ready tonight.

[2020-02-12 08:02] moewew commented on #51
Opened https://github.com/josephwright/biblatex-ieee/pull/52 with a suggestion to rework the style. I hope that `numeric-comp` is stable and that this suggestion works for the next release, but I suggest you wait with merging until we can be sure what `biblatex` 3.15 brings.

[2020-02-12 19:53] moewew commented on #51
#52 was not a good idea. A new attempt is at #53.

[2020-02-26 09:36] ealashwali opened #54 "biblatex-ieee does not produce a conformant IEEE Web reference"
If I have this bibliography entry:

[code]

With this script:
[code]

When I compile it, I receive a reference style for the (web) that does not seem to conform with the IEEE guidelines. If you look at the[ guidelines](https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf) in Section `P` `Websites`,  you see:
`First Name Initial(s) Last Name. “Page Title.” Website Title. We

[2020-02-26 09:59] ealashwali commented on #54
Do you think I should use `@report `for website entries?

[2020-02-26 12:42] josephwright commented on #54
Fix upcoming: you need `@online` database entires

[2020-02-26 12:43] #54 closed

[2020-02-26 12:56] ealashwali commented on #54
@josephwright Thanks. Can you tell me when/how can I get the fix?

[2020-02-26 13:01] josephwright commented on #54
Fix will go to CTAN today, will be out tomorrow

[2020-02-28 13:25] ealashwali commented on #54
Sorry for this question. How to fetch this update from Ubuntu?
I executed:
`sudo apt-get install texlive-biblatex-ieee`

However, this is not successful:
[code]

[2020-08-31 07:58] auge opened #55 "Package biblatex-ieee Error: Failed to update citation style."
with the latest release of biblatex, using style=ieee fails with above error.

mwe:
[code]

debug output:
[code]

Hope, this debug may help you.
KR, Benjamin

[2020-08-31 14:21] moewew commented on #55
Should be resolved by https://github.com/josephwright/biblatex-ieee/pull/53.

[2020-08-31 15:13] #51 closed

[2020-09-01 08:45] auge commented on #55
thanks for the quick response and fix #53 !
the update is already available on CTAN and compilation works.
KR, Benjamin

[2020-09-01 08:45] #55 closed

[2020-09-02 14:35] Flashtim opened #56 "Failed to update citation style"
Since the latest update, using style=ieee produces errors in ieee.cbx when building the file:

`ieee.cbx:48: Package biblatex-ieee Error: Failed to update citation style. [...p,cite:comp:end,cite:comp:inset,cite:dump}]
ieee.cbx:58: Package biblatex-ieee Error: Failed to update citation style. [  }] `

I'm using the recent Miktex version 2.9.

A simple example that won't compile:

[code]

[2020-09-02 14:37] Flashtim commented on #56
biblatex version: 3.15a
biblatex-ieee version: 1.3b

[2020-09-02 14:41] josephwright commented on #56
Duplicate of https://github.com/josephwright/biblatex-ieee/issues/55

[2020-09-02 14:41] #56 closed

[2020-09-12 16:57] ajaichemmanam opened #57 "Formatting Issue"
I get every attributes in new line when using biblatex-ieee

[8]    S. Ren, K. He, R. Girshick, and J. Sun,
“Faster r-cnn: Towards real-time object detection with region proposal networks,”
InAdvances in neural information processing systems,
2015,
Pp. 91–99.

[9]    J. Redmon, S. Divvala, R. Girshick, and A. Farhadi,
“You only look once: Unified, real-time object detection,”
InProceedings of the

[2020-09-12 17:03] josephwright commented on #57
I'll need an example

[2020-09-12 17:22] ajaichemmanam commented on #57
Thanks for replying.
Eg.
<img width="402" alt="format" src="https://user-images.githubusercontent.com/10387750/93001152-a30acb00-f54a-11ea-9065-78fbd8436fc3.png">

@inproceedings{yu2016unitbox,
	title     = {Unitbox: An advanced object detection network},
	author    = {Yu, Jiahui and Jiang, Yuning and Wang, Zhangyang and Cao, Zhimin and Huang, Thomas},
	booktitle = {Proceedings of the 24th ACM int

[2020-09-13 07:36] josephwright commented on #57
I mean an example of your TeX input: this looks like you are redefining `\newblock` to me.

[2020-09-13 07:42] ajaichemmanam commented on #57
This is how I used inside tex file. The references.bib file contained the reference data.
\usepackage[sorting=none,bibstyle=ieee, backend=biber]{biblatex}
\addbibresource{references.bib}
Unitbox \cite{yu2016unitbox} suggested ....
\printbibliography

Output is given in previous comment.
I don't know how to explain it to you more.

[2020-09-13 07:46] josephwright commented on #57
I have no issue with
[code]
and `\listfiles` reports
[code]

What do you get for that?

[2020-09-13 07:57] ajaichemmanam commented on #57
It works without issue. I think I have found the issue.
https://tex.stackexchange.com/questions/56628/custom-references-page-with-additional-line-breaks
Its because of the openbib. I changed from bibtex to biblatex.
Thanks for your time.

[2020-09-13 07:57] #57 closed

[2020-12-03 08:34] StephanGen opened #58 "Problem with Conference Paper"
Hi,

I have a Problem with the display of a conference paper in my bibliography (see picture). The citation in my .bib file looks like this:

@inproceedings{tukorFormationWCrPhasesProduction2009,
  title = {Formation of {{W}}-{{Cr}}-{{Phases During}} the {{Production}} of {{Cr}}-Doped {{WC Powders}}},
  author = {Tükör, Z. and Schubert, Wolf-Dieter and Bicherl, A. and Bock, A. and Zeiler, B.},
  d

[2020-12-07 20:02] josephwright commented on #58
Can you post your log files? This doesn't look quite right to me: my test file looks OK here.

[2020-12-08 07:10] StephanGen commented on #58
[Log.log](https://github.com/josephwright/biblatex-ieee/files/5657424/Log.log)

[2020-12-17 08:52] josephwright commented on #50
@moewew What's the best way to do this? I'm sure there is a simple trick (I plan to do a release soon, so would like to tidy this up).

[2020-12-17 10:47] josephwright commented on #58
I tried a shortened example
[code]
and all works fine. Please try that and see what you get.

[2020-12-17 21:54] moewew commented on #50
I can't think of a simple way to do this at the moment, sorry. I know `biblatex-apa` does something like this (https://github.com/plk/biblatex-apa/blob/21fcb3fb1d1181d9ee51a2c97d3225987cc9efac/tex/latex/biblatex-apa/bbx/apa.bbx#L2066-L2089), but it's tricky to get right.

[2020-12-29 17:53] josephwright commented on #50
Based on the comment, I'm  going to leave this one - I'm not convinced it's reliable, and certainly isn't particularly clear.

[2021-01-05 07:37] StephanGen commented on #58
So had some time off during the holidays and have now worked on the topic. The shortened example works. When I am replacing the main .bib file of my document with the exact same citation of your example it still plots "presentedat".

[2021-03-25 09:19] FerusAndBeyond opened #59 "Citations and bibliography"
According to [this](https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf) reference, citations and bibliography aren't handled correctly.

Examples:
More than three authors in text: biblatex-ieee gives "Author A, Author B, Author C, et al."
when it should be "Author A et al."

In the bibliography et al. isn't used at all when it should be when there are 7 or more authors w

[2021-03-25 09:48] #59 closed

[2021-03-30 07:25] moewew opened #60 "Make dashed=false the default"
Via https://tex.stackexchange.com/q/590613/35864

Since the `dashed` option was added for https://github.com/josephwright/biblatex-ieee/issues/30 it has effectively been turned on even though as was rightly pointed out, it does not make much sense for unsorted numeric styles. Just to make sure I checked the current guide https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf

[2021-03-30 07:30] moewew commented on #60
As an aside, I just realised that `ieee.bbx` only activates the dash for the `author` macro, which means it does not work for `editor`s or `translator`s in author position. `authortitle.bbx` contains further definitions for that

https://github.com/plk/biblatex/blob/eeae027fdda9b5d278712159d75bdc83f7fa96f8/tex/latex/biblatex/bbx/authortitle.bbx#L67-L117

[2021-03-30 07:34] josephwright commented on #60
I'm honestly not sure what the official formatting should be here.

[2021-03-30 07:34] Rmano commented on #60
Last time I submitted a paper to IEEE (quite recently... couple of weeks ago) it was quite clear that they required full references always - no time to find the reference (eh!) now, but I think that you should never use dashes in IEEE styles.

[2021-03-30 07:37] Rmano commented on #60
Found this:
https://www.bath.ac.uk/publications/library-guides-to-citing-referencing/attachments/ieee-style-guide.pdf

[2021-03-30 07:43] josephwright commented on #60
@Rmano The official IEEE BibTeX style (https://ctan.org/pkg/ieeetran) uses dashes for repeated authors.

[2021-03-30 07:44] Rmano commented on #60
Better link: https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf

[2021-03-30 07:53] moewew commented on #60
Indeed, http://mirrors.ctan.org/macros/latex/contrib/IEEEtran/bibtex/IEEEtran_bst_HOWTO.pdf has a dashed reference (67). But I don't think dashed make a lot of sense for unsorted styles. You simply won't get the same names consecutively that often.

[2021-03-30 08:38] josephwright commented on #60
In the end this is the IEEE's call, and it's what they do. I think it's not unreasonable to expect repeated names: in my area, you tend to cite a whole load of the work of one group in a block, so you'd see repeated names there, for example.

[2021-03-30 11:41] Rmano commented on #60
Yes, you probably are right. In my field almost never happens (authors are at least shuffled around).... So I never saw it.

[2021-03-30 15:38] moewew commented on #60
Sure. The IEEE decide. But I'm a bit confused that the only place where this dash replacement comes up is `IEEEtran.bst`).

I could not find a mention of it in the reference guidelines (at least the version I found https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf) and it did not appear in the few IEEE journal papers I quickly had a look at this morning (I did some more

[2021-03-31 06:48] josephwright commented on #60
@moewew The thing is that `IEEEtran.bst` is an official style, and uses dashes, so I assume this was approved by the publisher

[2021-03-31 07:09] moewew commented on #60
Yeah, the official status of `IEEEtran.bst` is why I don't want to simply disregard what it does. I sent an email to the maintainer of `IEEEtran.bst` about this. Maybe he can help out. (Maybe the IEEE changed policies here: The version of IEEEtran on CTAN is from 2015, the style guide we found from 2018.)

[2021-04-16 06:20] moewew commented on #60
I received a reply from Michael. He told me that the IEEEtran behaviour was copied from journal publications at the time and that he had not been made aware of a change in policy there on the IEEE side.

Given from what I have seen in IEEE publications I'd no go with the dash, but I admit that my willingness to draw that conclusion from my observations is influenced by my thinking that dashes are

[2021-04-16 07:22] josephwright commented on #60
OK, I'll look to do a release.

[2021-05-23 18:12] Hedius commented on #58
The problem triggers if you set a different language than English for your document. presentdate is not defined for other languages.

[code]

[2021-11-20 07:55] jacobmerson opened #63 "incorrect book series formatting"
A book chapter with a series is supposed to be in parentheses after the italicized book name. Currently, it is written as "ser. series name".

See page 5 of the [ieee reference guide](http://journals.ieeeauthorcenter.ieee.org/wp-content/uploads/sites/7/IEEE-Reference-Guide-Online-v.04-20-2021.pdf)

[2021-11-20 07:59] jacobmerson opened #64 "periodicals should not include day"
Periodicals should list the month and year, but should not include the day. Conference proceedings, patents, etc. do include the day.

See the [ieee reference guide](http://journals.ieeeauthorcenter.ieee.org/wp-content/uploads/sites/7/IEEE-Reference-Guide-Online-v.04-20-2021.pdf) page

[2021-12-01 22:14] #60 closed

[2021-12-01 22:39] #63 closed

[2021-12-01 22:47] josephwright commented on #64
@moewew Is there a simple 'date format per entry type' function? I don't remember one ...

[2021-12-02 06:47] moewew commented on #64
Unfortunately, there is no interface yet for per-type date settings. I looked at this a while ago, but there were difficulties with the interface as well as a possible implementation. Thoughts are always welcome. See https://github.com/plk/biblatex/issues/863.

For now you can use the internal implementation of the date formats, e.g. https://github.com/michal-h21/biblatex-iso690/blob/86fd078483eab

[2021-12-02 08:00] josephwright commented on #64
@moewew  Thanks: what I thought

I'm reluctant to 'force' dropping of data by adding `\clearfield` to the style - that's irreversible so users can't override it (say if they have a newspaper article or similar that _does_ need the day). Probably therefore one for the docs: a lot of people will only have the day in when they _need_ it anyway.

[2022-02-16 06:42] Iizuki commented on #38
This [StackExchange answer](https://tex.stackexchange.com/a/151264/183751) contains a working xpatch workaround. Maybe it will prove useful in fixing it here too.

[2022-04-22 01:09] yaoling1997 commented on #23
It works well, thank you for posting this. (@^_^@)

[2022-10-05 17:34] jorsn opened #66 "space between two em dashes"
In some fonts like Libertinus (loaded with libertinus-otf), there is a space between the two em dashes, which are used here for abbreviating repeated authors in the bibliography. They are defined by
https://github.com/josephwright/biblatex-ieee/blob/7f67eea42f55ee0c27c8358dd7cd64bf47ad4a4c/ieee.bbx#L59

The reason is that there is no proper 2em-dash (U+2E3A) in LaTeX. Also, in some fonts (e.g. Lib